.contain {
  position: relative;
  left: 25%;
  /* border: 1px solid blue; */
  width: 50%;
  text-align: center;
}
.containn {
  text-align: left;

  display: flex;
  flex-direction: column;
}
.divname {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.divname p {
  width: 40%;
  font-size: 20px;
}
.divname h1 {
  color: brown;
  text-align: left;
  margin-left: 150px;
  width: 30%;
  font-size: 20px;
}
.img {
  margin-bottom: 40px;
  padding-right: 120px;
}
